<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>
    <main class="main-content index_container">
        <h1>Math Competition Leaderboards</h1>
        <h2>Top 10:</h2>
    </main>
</body>
</html>
